<header>
    <a href="/" class="logo">Study AI with Rex</a>
    <nav class="main-nav">
        <div class="nav-items">
            <a href="/" class="nav-item">
                <i data-lucide="book-open"></i>
                <span>Blog</span>
            </a>
            <a href="/about.html" class="nav-item">
                <i data-lucide="user"></i>
                <span>About</span>
            </a>
            <a href="/contact.html" class="nav-item">
                <i data-lucide="mail"></i>
                <span>Contact</span>
            </a>
        </div>
    </nav>
    <div class="header-right-controls">
        <div class="social-icons">
            <a href="https://x.com/HaHoang411" target="_blank">
                <i data-lucide="twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/hoanghavn/" target="_blank">
                <i data-lucide="linkedin"></i>
            </a>
            <a href="https://github.com/hahuyhoang411" target="_blank">
                <i data-lucide="github"></i>
            </a>
        </div>
        <button id="dark-mode-toggle" class="dark-mode-toggle">
            <i data-lucide="sun" class="sun-icon"></i>
            <i data-lucide="moon" class="moon-icon" style="display: none;"></i>
        </button>
    </div>
</header>